* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif; 
    font-style: normal;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 21px;
}

a {
    text-decoration: none;
    color: #333333;
}

img {
    max-width: 100%;
    display: block;
}

.outline {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.hidden {
    height: 0;
    font-size: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.button {
    background: #008752;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    max-width: 181px;
    width: 100%;
    text-align: center;
    padding: 11px;
    border: none;
    text-transform: uppercase;
    display: block;
}

.button:hover {
    background: #26CD8B;
}

.button:active {
    background: #005232; 
}

/* HEADER */
.header {
    padding: 35px 0;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
}

.header-logo {
    max-width: 142px;
}

.header-nav {
    margin: 0 auto 0 25px;
}

.header-list {
    display: flex;
    align-items: center;
}

.header-item {
    margin-right: 15px;
}

.header-phone {
    color: #95459A;
    margin-right: 24px;
}


/* Banner */

.banner {
    background-image: url('images/fon.jpg'), linear-gradient(180deg, #E0E7ED 16.53%, #DAE2E5 102.51%);
    background-repeat: no-repeat;
    background-position: center bottom;

    background: url('images/fon.jpg'), linear-gradient(180deg, #E0E7ED 16.53%, #DAE2E5 102.51%) no-repeat center bottom cover;
    /* background-size: cover; */
    margin-bottom: 80px;
}

.banner .container {
    padding: 143px 0 286px;
}

.banner-title {
    max-width: 80%;
    font-weight: 900;
    font-size: 90px;
    line-height: 1;
    color: #00559D;
    margin: 0 0 49px;
}

.banner-btn {
    background: #95459A;
    font-size: 24px;
    line-height: 29px;
    max-width: 360px;
    cursor: pointer;
}
.banner-btn:hover {
    background: #D665DD;
}
.banner-btn:active {
    background: #722A77;
}

/* Service */

.service {
    margin-bottom: 110px;
}

.service-title {
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    text-transform: uppercase;
    color: #00559D;
    text-align: center;
    margin-bottom: 50px;
}

.service-list {
    display: flex;
    justify-content: space-between;
    margin: 0 -10px -20px;
}

.service-item {
    width: 25%;
    margin: 10px;
    margin-right: 20px;
}

/* about */

.about {
    display: flex;
    justify-content: space-between;
    margin-bottom: 106px;
}

.about-title {
    font-weight: 900;
    font-size: 72px;
    line-height: 1;
    color: #005DAB;
    margin: 0 0 46px;
}

.about-content {
    width: 35%;
}

.about-content > p {
    margin-bottom: 20px;
}

.about-img {
    max-width: 580px;
    position: relative;
}

.about-img::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -50px;
    right: -50px;
    background: #008752;
    width: 500px;
    height: 430px;
    z-index: -1;
}

/* brands  */

.brands {
    margin-bottom: 80px;
}

.brand-list {
    display: flex;
    justify-content: space-between;
}

.brand-item {
    opacity: .5;
}

.brand-item:hover {
    opacity: 1;
}

.brand-item:active {
    opacity: .2;
}

/* map */

.map {
    background: url('/images/map.jpg') no-repeat;
    background-size: cover;
}
.map .container {
    padding: 40px 0 133px;
}

.map-info {
    background: #008752;
    color: #fff;
    font-size: 15px;
    max-width: 380px;
    padding: 50px 44px;
}

.map-title {
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 17px;
}

.map-phone {
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 23px;
    display: block;
}

.map .button {
    background: #95459A;
}

/* footer */

.footer {
    background: #00559D;
    display: flex;
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;

}

.footer-title {
    margin: 0;
    color: #fff;
    font-weight: 900;
    font-size: 40px;
    line-height: 1.3;
}
.social {
    display: flex;
}
.social-item {
    margin-left: 16px;
}

.social-item:hover svg path {
    fill: #60A7E3;
}

.social-item:active svg path {
    fill: #17354F;
}

/* modal */

.modal__form {
    display: none;
}